@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Desafio Fortes</h1>
    <p>Esse sistema foi desenvolvido por Michell Alves Arruda para seleção de emprego junto ao Grupo Fortes.</p>
</div>
